<!DOCTYPE HYML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>studentList exercise</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>

	<h1>Books:</h1>

	<table>
		<tr>
			<th>Title</th>
			<th>Author</th>
			<th>Year</th>
			<th>ISBN</th>
		</tr>
		<tr th:each="book: ${book}">
			<td th:text="${book.title}"></td>
			<td th:text="${book.author}"></td>
			<td th:text="${book.year}"></td>
			<td th:text="${book.ISBN}"></td>
			<td><a th:href="@{/delete/{id}(id=${book.id})}">Delete</a></td>
	</table>
	<a href="/add">Add Book</a>


</body>
</html>